<div class="container-fluid text-center bg-success" style="height: 30px;">
    <div class="row">
        <div class="col">

        </div>
        <div class="col-8 " style="color: white;">
            Welcome to fastkart! wrap new offers/gift every single day on weekend.New Coupon Code:
        </div>
        <div class="col" style="color: white;">
            English
        </div>
        <div class="col" style="color: white; padding-right: 150px;">
            USD
        </div>
    </div>
</div>
<div class="container text-center mt-3 " style="height: 20px;">
    <div class="row" >
        <div class="col" style="font-size: larger;"><strong><span style="color: greenyellow;">Fast</span><span style="color: gray;">Kart.</span></strong></div>
        <div class="col" style="color: green;"><i class="bi bi-geo-alt"></i>&nbsp;&nbsp;Your Location</div>
        <div class="col input-group mb-3"> <span class="input-group-text" id="basic-addon1"><i class="bi bi-search"></i></span>
            <input type="text" class="form-control" placeholder="I am Searching for..." aria-label="Username" aria-describedby="basic-addon1"></div>
        <div class="col"><i class="bi bi-telephone-outbound"></i>&nbsp;&nbsp;|&nbsp;<i class="bi bi-heart"></i>&nbsp;&nbsp;|&nbsp;<i class="bi bi-cart"></i>&nbsp;&nbsp;|&nbsp;<i class="bi bi-person"></i></div>
    </div>
</div>